!!!5
%form{:action => "", :method => "post", :enctype => "multipart/form-data"}
  %label{:for => "csv_file"}File:
  %input{:type =>"file", :name => "csv_file"}
  %br
  %label{:for => "destination"}Uploaded name:
  %input{:type => "text", :name => "destination"}
  %br
  %input{:type => "submit", :value => "Upload!"}
