!!!5
%html
  %head
    %title RailsGirls Jsons
  %body
    %h3
      Select the json you wanna see:
      %p<
        - unless @filenames.empty?
          - @filenames.each do |file|
            %a{:href => "#{file}"} #{file.split('.json')[0].capitalize!}
